
/* THIS BELOW WAS MY FIRST INITIAVE FOR THE WEBSITE
.test-image{
  position: relative;
  width:25%;
  float:left;
  margin:50px;

}
pricing button
#pricing{
  margin:40px 0 20px 0;
  text-align: center;
  background-color:#c15050;
}
.love{
margin:40px 0 40px 0;
}
.joy{
  margin:40px 0 40px 0;
}
.price{
  padding:0 20px 0 20px;
  font-size: 2rem;
  line-height: 1.5;
}/*
.space{
  padding: 10%;
}
/*testimonials*
.testimonial-text{
  font-family: 'Ubuntu';
  font-size: 1rem;

}
#testimonials{
  text-align: center;
  background-color: #f8f4e1;
  color: #fff;
  margin:20px 0 20px 0;
  font-size:1.2rem;
}

#press{
  margin:50px 0  50px 0;
  text-align: center;
}
#cta{
  text-align: center;
  background-color: #ff4c68;
}
#footer{
  text-align: center;



}
